/* Toolbar styling */
.toolbar-icon-content-hierarchy-content-overview:before {
  background-image: url(/core/misc/icons/787878/file.svg);
}
.toolbar-icon-content-hierarchy-content-overview:active:before,
.toolbar-icon-content-hierarchy-content-overview.is-active:before {
  background-image: url(/core/misc/icons/000000/file.svg);
}
/* Adminimal admin toolbar styling */
.adminimal .toolbar-icon-content-hierarchy-content-overview:before {
  background-image: url(/modules/contrib/adminimal_admin_toolbar/images/acacac/file.svg);
}
.adminimal .toolbar-icon-content-hierarchy-content-overview:active:before,
.adminimal .toolbar-icon-content-hierarchy-content-overview.is-active:before {
  background-image: url(/core/misc/icons/787878/file.svg);
}
.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-content-hierarchy-content-overview:before,
.adminimal-admin-toolbar .toolbar-icon-content-hierarchy-content-overview:hover:before {
  background-image: url(/modules/contrib/adminimal_admin_toolbar/images/ffffff/file.svg);
}

/* Gin styling */
.gin--dark-mode .gin--horizontal-toolbar .button.toggle-item-button.collapse,
.gin--dark-mode .gin--horizontal-toolbar .button.toggle-item-button.expand {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3E%3Cpath fill='none' stroke-width='1.5' d='M1 1L7 7L13 1' stroke='%23ffffff'/%3E%3C/svg%3E%0A");
}

.gin--horizontal-toolbar .button.toggle-item-button.collapse,
.gin--horizontal-toolbar .button.toggle-item-button.expand {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 9'%3e%3cpath fill='none' stroke-width='1.5' d='M1 1l6 6 6-6' stroke='%23545560'/%3e%3c/svg%3e");
  border: 0 !important;
}

/* Shared for modal and overview */
.button.toggle-item-button {
  padding: 0;
  border: 0;
  background: transparent;
  margin: 0 1em 0 0;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.button.toggle-item-button.collapse,
.button.toggle-item-button.expand {
  width: 15px;
  height: 9px;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 8px 0 0;
  background-size: 100%;
  vertical-align: middle;
  background-image: url('../images/000000/down-arrow.svg');
  opacity: .6;
}

.button.toggle-item-button.expand {
  transform: rotate(-90deg);
  margin-right: 8px;
  margin-bottom: 1px;
}


/* Overview */

#content-hierarchy-overview .item-title {
  display: inline-block;
}

#content-hierarchy-overview {
  overflow-x: auto;
}

#content-hierarchy-overview tr td  {
  #border-bottom: 1px solid #e6e4df;
  position: relative;
}

#content-hierarchy-overview tr td:not(:first-child) {
  white-space: nowrap;
}

#content-hierarchy-overview .indent-border-remove {
  position: absolute;
  bottom: -1px;
  #background: #fff;
  height: 1px;
  left: 0;
}

#content-hierarchy-overview .inner {
  display: flex;
  align-items: flex-start;
  padding-right: 50px;
}

#content-hierarchy-overview .link-wrapper {
  display: flex;
  align-items: baseline;
}

#content-hierarchy-overview thead th:first-child {
  padding-right: 200px;
}

#content-hierarchy-overview thead th:not(:first-child) {
  padding-right: 30px;
}

#content-hierarchy-overview .toggle-item-button,
#content-hierarchy-overview .indentation {
  flex-shrink: 0;
}

#content-hierarchy-overview .ajax-progress-throbber {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* Modal */
.content-hierarchy-modal-form .hierarchy-item .hierarchy-children {
  padding-left: 25px;
  margin-top: 7px;
}

.content-hierarchy-modal-form .hierarchy-item:not(:last-child) {
  margin-bottom: 10px;
}

.content-hierarchy-modal-form .hierarchy-item-inner {
  border-bottom: 1px solid rgb(239 237 237);
  padding-bottom: 10px;
}

.content-hierarchy-modal-form .hierarchy-item .root {
  display: block;
  font-weight: 700;
  background-image: url('../images/000000/home.svg');
  background-repeat: no-repeat;
  padding-left: 26px;
  background-size: 19px;
}
