/* Toolbar styling */
.toolbar-icon-content-hierarchy-content-overview:before {
  background-image: url(/core/misc/icons/787878/file.svg);
}
.toolbar-icon-content-hierarchy-content-overview:active:before,
.toolbar-icon-content-hierarchy-content-overview.is-active:before {
  background-image: url(/core/misc/icons/000000/file.svg);
}
/* Adminimal admin toolbar styling */
.adminimal .toolbar-icon-content-hierarchy-content-overview:before {
  background-image: url(/modules/contrib/adminimal_admin_toolbar/images/acacac/file.svg);
}
.adminimal .toolbar-icon-content-hierarchy-content-overview:active:before,
.adminimal .toolbar-icon-content-hierarchy-content-overview.is-active:before {
  background-image: url(/core/misc/icons/787878/file.svg);
}
.adminimal-admin-toolbar .toolbar-tray-horizontal .menu-item--expanded:hover .toolbar-icon-content-hierarchy-content-overview:before,
.adminimal-admin-toolbar .toolbar-icon-content-hierarchy-content-overview:hover:before {
  background-image: url(/modules/contrib/adminimal_admin_toolbar/images/ffffff/file.svg);
}

.button.toggle-item-button {
  padding: 0;
  border: 0;
  background: transparent;
  margin: 0 1em 0 0;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.hierarchy-item .hierarchy-children {
  padding-left: 20px;
}
